body {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 16px;
  margin: 1em;
}

a {
  font-family: Consolas;
  color: inherit;
  text-decoration: none;
  background-color: transparent;  
}

/* https://github.com/cl8n/osu-wiki-status/blob/master/templates/style.css */

.page-grid {
  display: grid;
  grid-template-columns: 780px 220px;
  margin: 0 auto;
  width: 1000px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.title__last-update {
  color: #aaa;
  font-size: 12px;
  margin-left: 1em;
  padding: 3px 6px;
  border: 1px solid #aaa;
  border-radius: 100px;
}

.section {
  margin-top: 1.5em;
}

.section__title {
  font-weight: bold;
  margin-bottom: 1em;
}

.locale-menu {
  border-left: 1px solid black;
  padding-left: 1em;
}

.locale-menu__title {
  font-weight: bold;
  margin-bottom: 1em;
}

.locale-menu__item {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.flag {
  height: 1em;
}

.flag--left {
  margin-right: 0.25em;
}

.problem-count {
  font-weight: bold;
  margin-left: auto;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

.commit {
  margin-left: 16px;
  font-size: 12px;
  line-height: 24px;
}

.commit_sha {
  text-decoration: none;
  border-bottom: 1px dotted #c6cbd1;
}

.commit_sha > a:hover {
  border-bottom: 1px solid #444d56;
}

.Link--primary {
  color: #24292e !important;
}
.Link--primary:hover {
  color: #0366d6 !important;
}

.Link--primary:hover [class*="color-text"] {
  color: inherit !important;
}

/* self thing */
